#root {
  max-width: 1420px;
}
.App {
  text-align: center;
}

.movie_card {
  position: relative;
}

.play_button {
  margin-top: 2%;
  display: block;
  position: absolute;
  cursor: pointer;
  color: red;
  background-color: white;
  border-radius: 1000%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.linkMovie .container {
  text-align: center;
}

.linkMovie:link {
  text-decoration: none;
  color: white;
}

.linkMovie:visited {
  text-decoration: none;
  color: white;
}

.card-title {
  color: black;
}

.movie_info {
  color: black;
}

.nav_brand {
  color: red !important;
  font-weight: 100px !important;
}

.nav_text {
  letter-spacing: 3px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: red !important;
  border-color: red !important;
}
.page-item .page-link {
  z-index: 3;
  background-color: white !important;
  border-color: red !important;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black !important;
  background-color: red;
  border: 1px solid #dee2e6;
}

.banner {
  max-width: 99%;
  max-height: 99%;
}

.movie_detail {
  color: white;
}

.movie_container {
  margin-left: 10%;
}

.scroll {
  overflow-y: scroll;
}

.card-body {
  height: 100%;
}

.background-image {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  z-index: -1;
  width: 100%;
}
.background-image-position {
  position: relative;
}
.image-inf {
  display: flex;
  margin-bottom: 2rem;
}
.modal-content {
  max-width: fit-content;
}

.form-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review_card {
  color: white;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;

  border-radius: 2px;
  align-items: center;
  box-shadow: 0 1px 4px rgba(243, 240, 240, 0.882);
  height: fit-content;
}

.site-footer {
  background-color: black;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: white;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
}
.site-footer hr {
  border-top-color: white;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: white;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: pink;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
