.App {
  text-align: center;
}

.movie_card {
  position: relative;
}

.play_button {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  color: red;
  background-color: white;

  border-radius: 1000%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.linkMovie:link {
  text-decoration: none;
  color: black;
}
.card-title {
  color: black;
}

.movie_info {
  color: black;
}

.container {
  padding-left: 0;
  margin-left: 0;
}

.nav_brand {
  color: red !important;
  font-weight: 100px !important;
}

.nav_text {
  letter-spacing: 3px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: red !important;
  border-color: red !important;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black !important;
  background-color: red;
  border: 1px solid #dee2e6;
}

.banner {
  max-width: 99%;
  max-height: 99%;
}

.movie_detail {
  color: white;
}

.movie_container {
  margin-left: 10%;
}

.scroll {
  overflow-y: scroll;
}
