#root {
  max-width: 1420px;
}
.App {
  text-align: center;
}

.movie_card {
  position: relative;
}

.play_button {
  margin-top: 2%;
  display: block;
  position: absolute;
  cursor: pointer;
  color: red;
  background-color: white;
  border-radius: 1000%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.linkMovie .container {
  text-align: center;
}

.linkMovie:link {
  text-decoration: none;
  color: white;
}

.linkMovie:visited {
  text-decoration: none;
  color: white;
}

.card-title {
  color: black;
}

.movie_info {
  color: black;
}

.nav_brand {
  color: red !important;
  font-weight: 100px !important;
}

.nav_text {
  letter-spacing: 3px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: red !important;
  border-color: red !important;
}
.page-item .page-link {
  z-index: 3;
  background-color: white !important;
  border-color: red !important;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black !important;
  background-color: red;
  border: 1px solid #dee2e6;
}

.banner {
  max-width: 99%;
  max-height: 99%;
}

.movie_detail {
  color: white;
}

.movie_container {
  margin-left: 10%;
}

.scroll {
  overflow-y: scroll;
}

.card-body {
  height: 100%;
}

.background-image {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  z-index: -1;
  width: 100%;
}
.background-image-position {
  position: relative;
}
.image-inf {
  display: flex;
  margin-bottom: 2rem;
}
.modal-content {
  max-width: fit-content;
}

.form-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review_card {
  color: white;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;

  border-radius: 2px;
  align-items: center;
  box-shadow: 0 1px 4px rgba(243, 240, 240, 0.882);
  height: fit-content;
}
